<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
     <add name="cs_ComplaintsADO" connectionString="data source=10.40.133.12,1433;initial catalog=Complaints20;User ID=tat;Password=1"/> 
    <!--<add name="cs_ComplaintsADO" connectionString="data source=DESKTOP-BORB0TQ\RH;initial catalog=Complaints20;integrated security=true"/>-->
  </connectionStrings>
</configuration>